type hal_fingerprint_certus, coredomain, domain;
hal_client_domain(hal_fingerprint_certus, hal_fingerprint)
hal_server_domain(hal_fingerprint_certus, hal_fingerprint)

type hal_fingerprint_certus_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_certus)
