on boot
    # DT2W
    write /proc/gesture/onoff 1

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb

on init
    # BPF
    setprop ro.kernel.ebpf.supported true

on post-fs-data
    # Services
    setprop init.svc.console stopped

# Disable AOSP RIL if MTK RIL is up
on property:vendor.ril.mtk=1
    stop vendor.ril-daemon
