import init.mt6765.usb.rc

on post-fs-data
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /sys/android_touch/doubletap2wake
    chown system system /sys/android_touch/doubletap2wake

    chown system system /sys/devices/platform/fingerprint/clk_enable
    chmod 0644 /sys/devices/platform/fingerprint/clk_enable

    chown system system /sys/devices/platform/fingerprint/irq
    chmod 0660 /sys/devices/platform/fingerprint/irq

    chown system system /sys/devices/platform/fingerprint/hw_reset
    chmod 0660 /sys/devices/platform/fingerprint/hw_reset

    chown system system /sys/devices/platform/fingerprint/wakeup_enable
    chmod 0660 /sys/devices/platform/fingerprint/wakeup_enable

    chown system system /sys/devices/platform/fingerprint/fingerdown_wait
    chmod 0660 /sys/devices/platform/fingerprint/fingerdown_wait
